<h1>Homes#home</h1>
<%= link_to "sign up", new_user_registration_path, class: "btn btn-primary" %>
<br /><%= link_to "index", scrim_ads_path, class: "btn btn-primary mt-5" %>
<br /><%= link_to "create", new_scrim_ad_path, class: "btn btn-primary mt-5 " %>